h1 {
    color: crimson;
    text-align: center;
}

h1 span {
    color: black;
    font-size: 25px;
}

header {
    background-color: darkgreen;
    padding: 1rem;
}

header nav {
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: azure;
    margin: .5rem;
}

header nav a:hover{
    color:chartreuse;
    background-color: blueviolet;
    padding: 1rem;
}

#titulo {
    color: plum;
}

.principal p {
    color: orange;
    text-align: center;
    padding-left: 15rem;
    padding-right: 15rem;
}

.principal img {
    width: 100%;   
}

.secundaria {
    display: flex;
}

.secundaria div {
    background-color: palevioletred;
    margin: 2rem;
    padding: 3rem;
}

.secundaria img {
    width: 50%;
    border-radius: 100%;
}

.secundaria h2, p {
    text-align: center;
}

footer {
    background-color: chocolate;
    padding: 1rem;
}

footer p {
    text-align: center;
}